<!--
  Generated template for the ReviosionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{user.shop_name}} | {{user.user_name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of barcodes">
      <p>{{item}}</p>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" *ngIf="!isEndOfList">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Пожалуйста, подождите"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<ion-footer>
    <button ion-button color="primary" (click)="scanIt()" block>Отсканировать</button>
    <button ion-button color="primary" (click)="sendToServer()" block>Проверить</button>
</ion-footer>
